<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bonobo Island</title>
</head>

<body>
	<h1>Hello, {{ username }} ! Meet new friends !</h1>
    
    {{ form_start(formProfile) }}
    {{ form_widget(formProfile) }}
    {{ form_end(formProfile) }}
    
    {{ form_start(formDisconnection) }}
    {{ form_widget(formDisconnection) }}
    {{ form_end(formDisconnection) }}
    
    <h2>Here is a list full of Bonobos living around the world ! Go for it !</h1>
    {% for user in users %}
        {% if user.username|e != username %}
            <li><a href="{{ path('profile', {'friendUsername': user.username|e}) }}">{{ user.username|e }}</a></li>
        {% endif %}
    {% endfor %}
</body>
</html>